<a href="https://colab.research.google.com/github/Gail529/LDA-Topic-Modelling/blob/master/Airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:

import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#TOPICMODELLING
import gensim
from gensim import corpora

#text preprocessing 
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
import string
import re
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [41]:
data=pd.read_csv('/content/Airbnb_Texas_Rentals.csv')
data.head(5)

   Unnamed: 0  ...                                                url
0           1  ...  https://www.airbnb.com/rooms/18520444?location...
1           2  ...  https://www.airbnb.com/rooms/17481455?location...
2           3  ...  https://www.airbnb.com/rooms/16926307?location...
3           4  ...  https://www.airbnb.com/rooms/11839729?location...
4           5  ...  https://www.airbnb.com/rooms/17325114?location...

[5 rows x 10 columns]

In [52]:
missing_values=data.isnull().sum()
dtypes=data.dtypes
shape=data.shape
info=data.info()
print('missing_values',missing_values)
print('datatypes',dtypes)
print('Shape',shape)
print('Info',info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18259 entries, 0 to 18258
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              18259 non-null  int64
 1   average_rate_per_night  18231 non-null  object
 2   bedrooms_count          18256 non-null  object
 3   city                    18259 non-null  object
 4   date_of_listing         18259 non-null  object
 5   description             18257 non-null  object
 6   latitude                18225 non-null  float64
 7   longitude               18225 non-null  float64
 8   title                   18256 non-null  object
 9   url                     18259 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.4+ MB
missing_values Unnamed: 0                 0
average_rate_per_night    28
bedrooms_count             3
city                       0
date_of_listing            0
description                2
latitude                  34
longitude                 34
title                      3
url                        0
dtype: int64
datatypes Unnamed: 0                  int64
average_rate_per_night     object
bedrooms_count             object
city                       object
date_of_listing            object
description                object
latitude                  float64
longitude                 float64
title                      object
url                        object
dtype: object
Shape (18259, 10)
Info None

In [39]:
data['bedrooms_count'].unique()
data['city'].nunique

505

In [57]:
price=data['average_rate_per_night']
def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
    translator=str.maketrans('','',string.punctuation)
    price=word.translate(translator)
    return price
for p in price:
  remove_punctuation(p)

AttributeError: ignored

In [ ]:
sns.set(style='darkgrid',color_codes=True,palette='deep')
sns.distplot(data['average_rate_per_night'])
plt.show